<!-- Header section -->
<header class="header-section clearfix">
    <a href="/kr" class="site-logo">
        <img src="/img/manlogo.png" alt="">
    </a>
    <div class="header-right">

        <a href="/en" class="hr-btn">English</a>
        <span>|</span>
        <div class="social-links user-panel">
            <a href="https://instagram.com/dom_mankey?utm_medium=copy_link"><i class="fa fa-instagram"></i></a>
            <!-- <a href="https://www.facebook.com/watchoutrecordsKR/"><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com/worecordskr"><i class="fa fa-twitter"></i></a> -->
        </div>
    </div>
    <ul class="main-menu">
        <li><a href="/kr">홈</a></li>
        <li><a href="/contact/kr">연락하기</a></li>
    </ul>
</header>
<!-- Header section end -->